<!DOCTYPE html>
<html class="{% block page_class %}{% endblock page_class %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <title>Fit by Fear - Stupid Hackathon 2019</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    {% block main %}{% endblock main %}
</body>
</html>
